.banner-thq-banner-elm {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-layout-space-oneandhalfunits);
  padding-left: var(--dl-layout-space-oneandhalfunits);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-oneandhalfunits);
  justify-content: center;
  background-color: #0F1015;
}
 
.banner-thq-captions-elm {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.banner-thq-caption-elm1 {
  gap: 4px;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  padding-left: var(--dl-layout-space-unit);
  flex-direction: row;
  justify-content: center;
}
 
.banner-link {
  display: contents;
}
 
.banner-thq-caption-elm2 {
  gap: 4px;
  width: 100%;
  display: none;
  align-items: center;
  padding-left: var(--dl-layout-space-unit);
  flex-direction: row;
  justify-content: center;
}
 
.banner-text1 {
  color: rgb(246, 245, 237);
  font-size: 14px;
  text-align: center;
}
 
.banner-text2 {
  color: rgb(246, 245, 237);
  cursor: pointer;
  font-size: 14px;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-weight: 700;
}
 
.banner-text2:hover {
  color: grey;
}
 
.banner-thq-close-elm {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.banner-icon1 {
  fill: #ffffff;
  width: var(--dl-layout-size-xsmall);
  cursor: pointer;
  height: var(--dl-layout-size-xsmall);
  transition: 0.3s;
}
 
.banner-icon1:hover {
  fill: grey;
}
 
@media(max-width: 479px) {
  .banner-thq-caption-elm1 {
    display: none;
  }
  .banner-thq-caption-elm2 {
    display: flex;
    padding-left: 0px;
  }
  .banner-icon1 {
    display: none;
  }
}
